In [ ]:
####https://github.com/Code-Institute-Solutions/sample-datasets/blob/main/titanic.csv
###https://www.kaggle.com/code/ahmdayman/retail-sales-dataset
##git pull origin main
"""
https://github.com/Code-Institute-Org/data-analytics-template
git add <filename>
git commit -m "message"
git push
========
git checkout -b <newBranchName>
git checkout <existingBranchName>
git pull
git log
"""

#https://github.com/Code-Institute-Org/data-analytics-template
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [4]:
df = pd.read_csv('C:/Users/midas/Documents/2505-WMCA-Data-Git101/2505-WMCA-Data-Git101/projectonedataset/sales data-set.csv')

In [5]:
# Get the first 50 rows
df = df.head(50)

# Print the shape (number of rows and columns)
print(df.shape)

# Show the first 5 rows
df.head()

(50, 5)

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

In [6]:
df.columns.to_list()

['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday']